a{
    color:currentColor;
    text-decoration: none;
}

#dashboard-web-app{
    height: 100vh;
}

header{
    height: 70px;
}

.bg-gray,
.bg-gray:focus{
    background-color: rgb(230, 230, 230);
}

main{
    height: calc(100% - 70px);
    width: 100%;
}
aside{
    width: 65px;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
}

#center-dashboard{
    width: calc(100% - 60px);
}

.offcanvas-width{
    min-width: 100%;
}


/* media query ---------------------------------------- */
@media screen and (min-width: 992px ) {
    aside{
        width: 150px;
    }
    #center-dashboard{
        width: calc(100% - 150px);
    }
    .offcanvas-width{
        min-width: 700px;
    }
}
